<footer class="container">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Contenido</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="http://bit.ly/streamelopersub"><i class="fa fa-tv"></i> Transmisiones</a></li>
          <li><a class="text-muted" href="#"><i class="fa fa-users"></i> Comunidades</a></li>
          <li><a class="text-muted" href="https://www.youtube.com/playlist?list=PLW-4dWdTuQrxgABJaWSFXe9KhDwGJC0kP"><i class="fa fa-camera-retro"></i> Contenido original</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Recursos</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://medium.com/streamelopers/nuevo-formulario-de-solicitud-de-transmisiones-7a2bad1f6c48"><i class="fa fa-video"></i> Vamos a tu evento</a></li>
          <li><a class="text-muted" href="https://medium.com/streamelopers/formulario-para-voluntarios-af00360ca9c9"><i class="fa fa-hands-helping"></i> Se un voluntario</a></li>
          <li><a class="text-muted" href="https://amzn.to/3gim3Om"><i class="fab fa-amazon"></i> Nuestro wishlist</a></li>
          <li><a class="text-muted" href="https://www.patreon.com/streamelopers"><i class="fab fa-patreon"></i> Únete al Patreon</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Síguenos</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="http://facebook.com/streamelopers"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a class="text-muted" href="http://instagram.com/streamelopers"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a class="text-muted" href="http://linkedin.com/company/55036380"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
          <li><a class="text-muted" href="http://twitter.com/streamelopers"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a class="text-muted" href="http://bit.ly/streamelopersub"><i class="fab fa-youtube"></i> Youtube</a></li>
          <li><a class="text-muted" href="http://medium.com/streamelopers"><i class="fab fa-medium"></i> Medium</a></li>
        </ul>
      </div>
      <div class="col-12 col-md text-right">
        <a href="https://www.patreon.com/streamelopers"><img src="img/logo/logo-small-transp300.png" width="100" height="100" alt=""></a>
        <a href="https://www.patreon.com/bePatron?u=26841170" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
      </div>
    </div>

  </footer>
  <div class="row">
    <div class="col-12 ">
      <small>
        <p class="text-muted text-center">Hecho con ❤️ Todos los derechos reservados &copy; 2015 - {{ now.Format "2006"}}</small>
      </small>
    </div>
  </div>