section {
    min-height:450px;
}
section.header-video {
    position: relative;
    background-color: black;
    min-height: 600px;
    width: 100%;
    overflow: hidden;
  }
  
  section.header-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  section.header-video .container {
    position: relative;
    z-index: 2;
  }
  
  section.header-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 1;
  }
  
  .bg-green{
      background-color:#00a99e;
      color:white;
  }

  @media (pointer: coarse) and (hover: none) {
    section.header-video {
      background: gray no-repeat center center scroll;
    }
    section.header-video video {
      display: none;
    }
  }


