{{ define "main" }}
<section class="jumbotron text-center header-video">

  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="videos/background_video.mp4" type="video/mp4">
  </video>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="img/logo/logo-grande-transparente.png"/>
        <p>Transmitimos charlas de comunidades tecnológicas</p>
      </div>
      <div class="col-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0cV7ZI8xXQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="text-center align-items-center"></div>
  </div>
</section>
{{end}}