{{ define "main" }}
<section class="jumbotron header-video">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="videos/background_video.mp4" type="video/mp4">
  </video>
  <div class="container p-x-sm">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center mx-auto">
        <img src="img/logo/logo-grande-transparente.png" class="img-fluid"/>
        <p>Transmitimos charlas de comunidades tecnológicas</p>
        <div class="w-50 mx-auto">
          <a href="http://bit.ly/streamelopersub">
            <img src="img/boton-youtube-suscribete.png" class="img-fluid"/>
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0cV7ZI8xXQA" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="jumbotron bg-white">
  <div class="container">
    <div class="text-center align-items-center">
      <h1>Lorem ipsum</h1>
      <p>Lorem ipsum dolor sit amet</p>

    </div>
  </div>
</section>

<section class="jumbotron bg-green">
  <div class="container text-center">
      <h1>Lorem ipsum</h1>
      <p>Lorem ipsum dolor sit amet</p>
      <div class="text-left">
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
        </ul>
      </div>
  </div>
</section>

<section class="jumbotron bg-white">
  <div class="container">
    <div class="text-center align-items-center">
      <h1>Lorem ipsum</h1>
      <p>Lorem ipsum dolor sit amet</p>

    </div>
  </div>
</section>

<section class="jumbotron bg-green">
  <div class="container">
    <div class="text-center align-items-center">
      <h1>Lorem ipsum</h1>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>
</section>
{{end}}